# Base de données MySQL
MYSQL_DATABASE=gestion_rh
MYSQL_USER=admin
MYSQL_PASSWORD=admin123
MYSQL_ROOT_PASSWORD=root123
MYSQL_PORT=3306

# phpMyAdmin
PMA_HOST=db
PMA_PORT=3306
PHPMYADMIN_PORT=8090

# Backend
SPRING_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/gestion_rh?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin123

# Mail SMTP
#SPRING_MAIL_HOST=
#SPRING_MAIL_PORT=
#SPRING_MAIL_USERNAME=
#SPRING_MAIL_PASSWORD=
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_STARTTLS_ENABLE=true
SPRING_MAIL_STARTTLS_REQUIRED=true

# Frontend
VITE_API_URL=http://localhost:8080/api
